<%= header_display(@condition) %>

<%= render partial: 'layouts/errors', locals: {object: @condition} %>


<%= form_for @condition do |f| %> 
   

    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <br><br>
    
    <%= f.label :notes %>
    <%= f.text_area :notes %><br>

    <br><br>

    <%= f.submit 'Create Condition' %>
    
<% end %>