<h1>Add a Condition for <%= @condition.medication.name %></h1>

<%= form_for @condition do |f| %>
    <p> Select a Condition that already exists: </p>
    <div>
    <%= f.collection_select :medication_id, Condition.all, :id, :name %>
    </div>

    <p> Or create a new Condition: </p>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <br><br>
    <%= f.label :notes %>
    <%= f.text_area :notes %><br>

    <%= f.hidden_field :medication_id %>
    <br><br>

    <%= f.submit 'Create Condition' %>
    
<% end %>