<div class="condition-new">
<%= header_display(@condition) %>

<%= render partial: 'layouts/errors', locals: {object: @condition} %>


<%= form_for @condition do |f| %> 
    <% if params[:medication_id] %>
        <%= f.hidden_field :medication_id %>
    <% else %>
        <%= f.label :medication_id, "Select a Medication" %>
        <%= f.collection_select :medication_id, Medication.alpha.where(:user_id => current_user.id), :id, :name_and_category, prompt: true %>
        <br><br>
    <% end %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <br><br>
    
    <%= f.label :notes %>
    <%= f.text_area :notes %><br>
    
    <br><br>

    <%= f.submit 'Create Condition' %>  
<% end %>
</div>