<h1>Add a Condition for <%= @condition.medication.name %></h1>


<%= render partial: 'layouts/errors', locals: {object: @condition} %>


<%= form_for @condition do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <br><br>
    
    <%= f.label :notes %>
    <%= f.text_area :notes %><br>

    <%= f.hidden_field :medication_id %>
    <br><br>

    <%= f.submit 'Create Condition' %>
    
<% end %>