<h1> All Medications </h1>

<% @medications.each do |m| %>
    <h2><%= m.name %> - <%= m.category.name %></h2>
    <%= link_to "Add Condition", new_medication_condition_path(m.id) %>
    <p><strong>Dosage: </strong><%= m.dosage %></p>
    <p><strong>Units: </strong><%= m.units %></p>
    <p><strong>Frequency: </strong><%= m.frequency %></p>
    <p><strong>Times Per Day: </strong><%= m.times_per_day %></p>
    <p><strong>Start Date: </strong><%= m.start_date %></p>
<% end %>