<h1>Add a New Medication</h1

<%= form_for @medication do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :dosage %>
    <%= f.number_field :dosage %><br>

    <%= f.label :units%>
    <%= f.text_field :units %><br>

    <%= f.label :frequency %>
    <%= f.text_field :frequency %><br>

    <%= f.label :times_per_day %>
    <%= f.number_field :times_per_day %><br>

    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
    <br><br>

    <p> Select a Category that already exists: </p>
    <div>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>

    <p> Or create a new Category: </p>
    <div>
    <%= f.fields_for :category do |c| %>
        <%= c.label :name %>
        <%= c.text_field :name %>
        <% end %>
    </div>
    <br>
    <%= f.submit 'Create Medication' %>
    
<% end %>