<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" <%= link_to 'MedList', root_path %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

    <% if logged_in? %>
        <li class="nav-item active">
        <a class="nav-link" <%= link_to 'Add Medication', new_medication_path %><span class="sr-only">(current)</span></a>   
        </li>

        <li class="nav-item active">
        <a class="nav-link" <%= link_to 'My Profile', user_path(current_user) %><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
        <a class="nav-link" <%= link_to 'Log Out', logout_path, method: :delete %><span class="sr-only">(current)</span></a>
        </li>

        <%= form_tag("/medications", method: "get") do %>
          <%= text_field_tag :q, params[:q], placeholder: "Search Medication"%>
          <%= submit_tag("Search") %>
        <% end %>
        
        # <%= form_tag("/medications", method: "get") do %>
        #   <%= collection_select(:medication, :category_id, Category.all, :id, :name, prompt: 'Search by Category') %>
        #   <%= submit_tag("Filter") %>
        # <% end %>
        

    <% else %>
        <li class="nav-item active">
        <a class="nav-link" <%= link_to 'Sign Up', signup_path %><span class="sr-only">(current)</span></a>   
        </li>

        <li class="nav-item active">
        <a class="nav-link" <%= link_to 'Log In', login_path %><span class="sr-only">(current)</span></a>
        </li>

    <% end %>
    
    </ul>
  </div>
</nav>
